

<form action="" method="post">

  <p>Welcome back!</p>
  Username:<input type="text" name="username">
  Password:<input type="password" name="password">

  <button type="submit">Login</button>

  <!-- Error message -->
  <% if @error_message %>
    <%= @error_message %>
  <% end %>
</form>
