<!-- Apariencia del establecimiento -->
<div class="container-fluid">
  <section class="row col-sm-12 col-md-offset-3 col-md-6">
    <div class="panel panel-primary">
      <!-- Titulo de la seccion -->
      <div class="panel-heading text-center">
        <h2>Apariencia del establecimiento:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <!-- Pregunta #3-1 -->
          <li class="list-group-item">
            <p>&Aacute;reas externas con apariencia atractiva</p>
            poor      good    excelent
            <input type="range" name="answ3-1" value="3" max="6">
          </li>
          <!-- Pregunta #3-2 -->
          <li class="list-group-item">
            <p>&Aacute;reas externas limpias. Ej: cristales,aceras, puertas, ect.</p>
            poor      good    excelent
            <input type="range" name="answ3-2" value="3" max="6">
          </li>
          <!-- Pregunta #3-3 -->
          <li class="list-group-item">
            <p>Interior del restaurante con apariencia atractiva</p>
            poor      good    excelent
            <input type="range" name="answ3-3" value="3" max="6">
          </li>
          <!-- Pregunta #3-4 -->
          <li class="list-group-item">
            <p>Interior del restaurante limpio. Ej: Mesas, pisos, cristales, ect.</p>
            poor      good    excelent
            <input type="range" name="answ3-4" value="3" max="6">
          </li>
          <!-- Pregunta #3-5 -->
          <li class="list-group-item">
            <p>&Aacute;rea de ba&ntilde;o limpio, organizado y con buena apariencia</p>
            poor      good    excelent
            <input type="range" name="answ3-5" value="3" max="6">
          </li>
          <!-- Pregunta #3-6 -->
          <li class="list-group-item">
            <p>&Aacute;rea de safacones, limpio y organizado</p>
            poor      good    excelent
            <input type="range" name="answ3-6" value="3" max="6">
          </li>
          <!-- Pregunta #3-7 -->
          <li class="list-group-item">
            <p>&Aacute;rea de caja registradora limpia y organizada</p>
            poor      good    excelent
            <input type="range" name="answ3-7" value="3" max="6">
          </li>
          <!-- Pregunta #3-8 -->
          <li class="list-group-item">
            <p>&Aacute;rea de entrega de orden limpia y organizada</p>
            poor      good    excelent
            <input type="range" name="answ3-8" value="3" max="6">
          </li>
          <!-- Observaciones seccion 3-->
          <li class="list-group-item">
            <p>Observaciones</p>
            <textarea name="observation_sec_3" class="form-control"></textarea>
          </li>
        </ul>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-default btn-lg" type="button" name="button">Siguiente</button>
      </div>
    </div>
  </section>
</div>
