{  <!-- Comida -->
<section class="row col-sm-12 col-md-offset-3 col-md-6">
  <h2 class="card-label">Comida:</h2>
  <ol>
    <!-- Pregunta #4-1 -->
    <li>
      <p>&Aacute;reas externas con apariencia atractiva</p>
      poor      good    excelent
      <input type="range" name="answ4-1" value="3" max="6">
    </li>
    <!-- Pregunta #4-2 -->
    <li>
      <p>&Aacute;reas externas limpias. Ej: cristales,aceras, puertas, ect.</p>
      poor      good    excelent
      <input type="range" name="answ4-2" value="3" max="6">
    </li>
    <!-- Pregunta #4-3 -->
    <li>
      <p>Interior del restaurante con apariencia atractiva</p>
      poor      good    excelent
      <input type="range" name="answ4-3" value="3" max="6">
    </li>
    <!-- Pregunta #4-4 -->
    <li>
      <p>Interior del restaurante limpio. Ej: Mesas, pisos, cristales, ect.</p>
      poor      good    excelent
      <input type="range" name="answ4-4" value="3" max="6">
    </li>
    <!-- Pregunta #4-5 -->
    <li>
      <p>&Aacute;rea de ba&ntilde;o limpio, organizado y con buena apariencia</p>
      poor      good    excelent
      <input type="range" name="answ4-5" value="3" max="6">
    </li>
    <!-- Pregunta #4-6 -->
    <li>
      <p>&Aacute;rea de safacones, limpio y organizado</p>
      poor      good    excelent
      <input type="range" name="answ4-6" value="3" max="6">
    </li>
    <!-- Pregunta #4-7 -->
    <li>
      <p>&Aacute;reas externas con apariencia atractiva</p>
      poor      good    excelent
      <input type="range" name="answ4-7" value="3" max="6">
    </li>
    <!-- Pregunta #4-8 -->
    <li>
      <p>&Aacute;reas externas limpias. Ej: cristales,aceras, puertas, ect.</p>
      poor      good    excelent
      <input type="range" name="answ4-8" value="3" max="6">
    </li>
    <!-- Pregunta #4-9 -->
    <li>
      <p>Interior del restaurante con apariencia atractiva</p>
      poor      good    excelent
      <input type="range" name="answ4-9" value="3" max="6">
    </li>
    <!-- Pregunta #4-10 -->
    <li>
      <p>Interior del restaurante limpio. Ej: Mesas, pisos, cristales, ect.</p>
      poor      good    excelent
      <input type="range" name="answ4-10" value="3" max="6">
    </li>
    <!-- Pregunta #4-11 -->
    <li>
      <p>&Aacute;rea de ba&ntilde;o limpio, organizado y con buena apariencia</p>
      poor      good    excelent
      <input type="range" name="answ4-11" value="3" max="6">
    </li>
    <!-- Pregunta #4-12 -->
    <li>
      <p>&Aacute;rea de safacones, limpio y organizado</p>
      poor      good    excelent
      <input type="range" name="answ4-12" value="3" max="6">
    </li>
    <!-- Observaciones seccion 4-->
    <li>
      <p>Observaciones</p>
      <textarea name="observation_sec_4" rows="4" cols="40"></textarea>
    </li>
  </ol>
</section>
