<!-- Al momento de realizar la orden ( section ) -->
<div class="container-fluid">
  <section class="row col-sm-12 col-md-offset-3 col-md-6 ">
    <div class="panel panel-primary">
      <!-- Titulo de seccion -->
      <div class="panel-heading text-center">
        <h2>Al momento de realizar la orden:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <!-- Pregunta #1-1 -->
          <li class="list-group-item">
            <p>¿El cajero lo recibio con una sonrisa y fue amable?</p>
            <label class="radio-inline input-lg">
              <input  type="radio" name="asnw1-1" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input  type="radio" name="asnw1-1" value="0">No
            </label>
          </li>
          <!-- Pregunta #1-2 -->
          <li class="list-group-item">
            <p>¿Mantuvo contacto visual mientras tomaba su orden?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-2" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-2" value="0">No
            </label>
          </li>
          <!-- Pregunta #1-3 -->
          <li class="list-group-item">
            <p>¿Ofreci&oacute; el especial o plato principal del d&iacute;a?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-3" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-3" value="0">No
            </label>
          </li>
          <!-- Pregunta #1-4 -->
          <li class="list-group-item">
            <p>¿Sugiri&oacute; agrandar la orden?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-4" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ1-4" value="0">No
            </label>
          </li>
          <!-- Pregunta #1-5 -->
          <li class="list-group-item">
            <p>¿Sugiri&oacute; a&ntilde;adir postre en su orden?</p>
          <label class="radio-inline input-lg">
            <input type="radio" name="answ1-5" value="1">Si
          </label>
          <label class="radio-inline input-lg">
            <input type="radio" name="answ1-5" value="0">No
          </label>
          </li>
          <!-- Pregunta #1-6 -->
          <li class="list-group-item">
            <p>¿La orden fue servida por empleado distinto al cajero?</p>
          <label class="radio-inline input-lg">
            <input type="radio" name="answ1-6" value="1">Si
          </label>
          <label class="radio-inline input-lg">
            <input type="radio" name="answ1-6" value="0">No
          </label>
          </li>
          <!-- Observaciones seccion 1-->
          <li class="list-group-item">
            <p>Observaciones</p>
            <textarea name="observation_sec_1" rows="4" class="form-control"></textarea>
          </li>
        </ul>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-default btn-lg" type="button" name="button">Siguiente</button>
      </div>
    </div>
  </section>
</div>
