<!-- Sobre el perosinal -->
<div class="container-fluid">
  <section class="row col-sm-12 col-md-offset-3 col-md-6 ">
    <div class="panel panel-primary">
      <!-- Titulo de seccion -->
      <div class="panel-heading text-center">
          <h2 class="card-label">Sobre el personal:</h2>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <!-- Pregunta #2-1 -->
          <li class="list-group-item">
            <p>¿Gerente estaba presente?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="asnw2-1" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="asnw2-1" value="0">No
            </label>
          </li>
          <!-- Pregunta #2-2 -->
          <li class="list-group-item">
            <p>¿Empleado presente en area de caja registradora?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-2" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-2" value="0">No
            </label>
          </li>
          <!-- Pregunta #2-3 -->
          <li class="list-group-item">
            <p>¿Estaban los empleados concentrados trabajando en sus respectivas tareas?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-3" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-3" value="0">No
            </label>
          </li>
          <!-- Pregunta #2-4 -->
          <li class="list-group-item">
            <p>¿Empleados con uniforme completo y buena apariencia? Gorras, delantar, guantes, ect...</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-4" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-4" value="0">No
            </label>
          </li>
          <!-- Pregunta #2-5 -->
          <li class="list-group-item">
            <p>¿El empleado que lo atendio, mostr&oacute; conocimiento del men&uacute;?</p>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-5" value="1">Si
            </label>
            <label class="radio-inline input-lg">
              <input type="radio" name="answ2-5" value="0">No
            </label>
          </li>
          <!-- Observaciones seccion 2-->
          <li class="list-group-item">
            <p>Observaciones</p>
            <textarea name="observation_sec_2" class="form-control"></textarea>
          </li>
        </ul>
      </div>
      <div class="panel-footer text-center">
        <button class="btn btn-default btn-lg" type="button" name="button">Siguiente</button>
      </div>
    </div>
  </section>
</div>
